body {

  background-color: white;
  color: black;
  font-family: 'Josefin Sans', sans-serif;

}

header {
  text-align: center;
}

#img-caption {
  text-align: center;
  font-style: italic;
  font-weight: 800;
}

#image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}


#tribute-div {
    margin: auto;
    width: 50%;
    text-align: left;
    background: linear-gradient(to bottom right, #d3d3d3 0%, #ffffff 100%);
    background-size: cover;
}
#tribute-info {
    margin: 5px auto;
    line-height: 1.4;
    padding-left: 5;
}
#tribute-info li {
    display: inline;
    text-align: left;
}

#wiki-link{
    text-align: center;

}
